aniso8601==8.0.0
APScheduler==3.6.3
bson==0.5.10
click==7.1.2
Flask==1.1.2
Flask-APScheduler==1.11.0
Flask-Cors==3.0.8
flask-redis==0.4.0
Flask-RESTful==0.3.8
Flask-Script==2.0.6
func-timeout==4.3.5
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
pip==20.1.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
redis==3.5.3
setuptools==49.2.0
six==1.15.0
tzlocal==2.1
Werkzeug==1.0.1
yagmail==0.11.224
